* {
    padding: 0;
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(../images/bg.png);
    background-size: contain;
    filter: blur(10px);
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    filter: brightness(50%);
}

.mobileMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 50%;
    background-image: url(../images/mobileMenuBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    z-index: 10;
    flex-direction: column;
}

.mobileMenu .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mobileMenu .bottom .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.mobileMenu .bottom .navBar {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.mobileMenu .bottom .navBar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'gilroy';
    color: white;
    border-radius: 4.78px;
    background: rgb(25, 25, 34);
    padding: 10px 0px;
    text-align: center;
}

.mobileMenu .bottom .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobileMenu .bottom .user span {
    color: white;
    font-family: 'Girloy';
    font-weight: 800;
    font-size: 14px;
    padding: 11px 14px;
    border-radius: 12px;
    box-shadow: 10px 15px 18px 0px rgba(23, 23, 36, 0.15);
    background: linear-gradient(97.24deg, rgb(1, 201, 253) 0.148%,rgb(51, 103, 230) 118.015%);
    border: 2px solid rgb(0, 152, 234);
}

.mobileMenu .closeMenu {
    align-self: end;
    border-radius: 0px 0px 0px 8px;
    background: rgb(25, 25, 34);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mobileMenu .closeMenu img {
    width: 100%;
    height: 100%;
}


.content {
    z-index: 2;
    position:relative;
}

.center {
    max-width: 1134px;
    width: 100%;
    margin: 0 auto;
}

header {
    background: rgb(30, 30, 40);
    height: 83px;
}

header .header .burger {
    display: none;
}

header .header {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

header .header .logo {
    display: flex;
    gap: 11.33px;
    align-items: center;
}

header .header .logo h4 {
    font-family: 'gilroy';
    font-size: 17px;
    font-weight: 1000;
    letter-spacing: 2px;
    color: white;
}

header .header .navBar ul {
    display: flex;
    gap: 54px;
}

header .header .navBar ul li {
    list-style: none;
}

header .header .navBar ul li a{
    color: white;
    font-family: 'gilroy';
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

header .header .user {
    display: flex;
    align-items: center;
    gap: 18px;
}

header .header .user .wallet {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 7px;
    border-radius: 6px;
    background: linear-gradient(97.24deg, rgb(1, 201, 253) 0.148%,rgb(51, 103, 230) 118.015%);
}

header .header .user .wallet span {
    color: white;
    font-family: 'Play';
    font-size: 18px;
}

header .header .user img:last-child {
    cursor: pointer;
    width: 60px;
    border-radius: 50%;
}

.userCabinet {
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    gap: 85px;
}

.userCabinet h1 {
    font-family: 'gilroy';
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(90.00deg, rgb(6, 193, 251),rgb(128, 108, 212));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

.userCabinet .content {
    display: flex;
    gap: 98px;
}

.userCabinet .content .leftContent {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.userCabinet .content .mobileLogOut {
    display: none;
}

.userCabinet .content .leftContent .mobileWallet {
    display: none;
}

.userCabinet .content .leftContent .userCabinetAvatar {
    width: 377px;
    height: 377px;
}

.userCabinet .content .leftContent .userCabinetAvatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:fill;
}

.userCabinet .content .leftContent a {
    padding: 22px 42px;
    border-radius: 13.96px;
    background: linear-gradient(97.24deg, rgb(1, 201, 253) 0.297%,rgb(51, 103, 230) 117.848%);
    width: max-content;
    color: white;
    text-decoration: none;
    font-family: 'gilroy';
    font-size: 32.58px;
    font-weight: 500;
}

.userCabinet .content .leftContent .language {
    display: flex;
}

.userCabinet .content .leftContent .language .rus {
    color: white;
    font-family: 'gilroy';
    font-size: 14px;
    font-weight: 500;
    padding: 6px 52px;
    background: linear-gradient(97.24deg, rgb(1, 201, 253) 0.133%,rgb(51, 103, 230) 118.033%);
}

.userCabinet .content .leftContent .language .eng {
    color: white;
    font-family: 'gilroy';
    font-size: 14px;
    font-weight: 500;
    padding: 6px 57px;
    background: rgb(25, 25, 34);
}


.userCabinet .rightContent {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.userCabinet .rightContent .wallet {
    display: flex;
    gap: 14px;
    align-items: center;
}

.userCabinet .rightContent .wallet span {
    color: white;
    font-family: 'play';
    font-size: 27.59px;
}

.userCabinet .rightContent .cryptoBalance {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: end;
    width: 450px;
    max-height: 270px;
    overflow-y: scroll;
    padding-right: 10px;
}

.userCabinet .rightContent .cryptoBalance::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background: rgba(139, 139, 139, 0.253); 
}

.userCabinet .rightContent .cryptoBalance::-webkit-scrollbar-thumb {
    border-radius: 57px;
    background: rgb(51, 104, 230);
}

.userCabinet .rightContent .cryptoBalance > div {
    display: flex;
    gap: 24.23px;
    align-items: center;
}

.userCabinet .rightContent .cryptoBalance > div .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.userCabinet .rightContent .cryptoBalance > div .cryptoIcon {
    max-width: 70px;
    width: 100%;
}

.userCabinet .rightContent .cryptoBalance > div .cryptoIcon {
    border-radius: 50%;
}

.userCabinet .rightContent .cryptoBalance > div .info .name h4 {
    color: white;
    font-family: 'gilroy';
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 2px;
}

.userCabinet .rightContent .cryptoBalance > div .info .name span {
    color: rgb(129, 129, 129);
    font-family: 'gilroy';
    font-size: 18.46px;
    font-weight: 250;
    letter-spacing: 1px;
    cursor: pointer;
}

.userCabinet .rightContent .cryptoBalance > div .info .amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.85px;
}

.userCabinet .rightContent .cryptoBalance > div .info .amount span:first-child {
    color: white;
    font-family: 'gilroy';
    font-size: 23px;
    font-weight: 800;
    align-self: end;
}

.userCabinet .rightContent .cryptoBalance > div .info .amount span:last-child {
    color: rgb(129, 129, 129);
    font-family: 'gilroy';
    font-size: 18.46px;
    font-weight: 250;
    letter-spacing: 1px;
}

.userCabinet .rightContent .changeAvatar {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.userCabinet .rightContent .changeAvatar h4 {
    color: white;
    font-family: 'gilroy';
    font-size: 32px;
    font-weight: 700;
}

.userCabinet .rightContent .changeAvatar .avatars .activeAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.userCabinet .rightContent .changeAvatar .avatars .activeAvatar img:first-child {
    position: absolute;
}

.userCabinet .rightContent .changeAvatar .avatars .activeAvatar img:last-child {
    position: relative;
    left: 36px;
    top: 38px;
    width: 24px;
    height: 27px;
}

.userCabinet .rightContent .changeAvatar .avatars {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    column-gap: 49px;
    row-gap: 23px;
}

.userCabinet .rightContent .changeAvatar .avatars img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



footer {
    margin-top: 64px;
    height: 77px;
    background: rgb(30, 30, 40);
}

footer .footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer .footer img {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

footer .footer a {
    padding: 10px 16px;
    background-color: white;
    color: rgb(25, 25, 29);
    border-radius: 8px;
    font-family: 'gilroy';
    font-size: 16px;
    text-decoration: none;
}



/* wiki */

.wiki .wikiContent .hatInfo,
.wiki .wikiContent .thimblesInfo {
    display: none;
}

.wiki {
    display: none;
    position: absolute;
    justify-content: center;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
}

.wiki .wikiContent {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    border-radius: 14px;
    background: rgb(30, 30, 40);
    padding: 43px 63px;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 68px;
    padding-bottom: 150px;
    position: fixed;
    height: max-content;
}

.wiki .wikiContent .header {
    display: flex;
    justify-content: space-between;
}

.wiki .wikiContent .header .close {
    border-radius: 6px;
    background: rgb(25, 25, 34);
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.wiki .wikiContent .header .close img {
    width: 100%;
    height: 100%;
}

.wiki .wikiContent .header .games {
    display: flex;
    gap: 77px;
}

.wiki .wikiContent .header .games a {
    text-decoration: none;
    color: white;
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 700;
    padding: 12px 26px;
    border-radius: 6px;
    background: rgb(25, 25, 34);
}

.wiki .wikiContent .header .games a:last-child {
    padding: 12px 40px;
    background: linear-gradient(90.00deg, rgb(3, 198, 252),rgb(51, 103, 230) 100%);
}

.wiki .wikiContent .jackPotInfo .gameDescription,
.wiki .wikiContent .hatInfo .gameDescription,
.wiki .wikiContent .thimblesInfo .gameDescription {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.wiki .wikiContent .jackPotInfo .gameDescription h4,
.wiki .wikiContent .hatInfo .gameDescription h4,
.wiki .wikiContent .thimblesInfo .gameDescription h4 {
    background: linear-gradient(90.00deg, rgb(6, 193, 251),rgb(128, 108, 212));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'gilroy';
    font-size: 48px;
    font-weight: 700;
    width: max-content;
}

.wiki .wikiContent .jackPotInfo .gameDescription .jackPot,
.wiki .wikiContent .hatInfo .gameDescription .hat,
.wiki .wikiContent .thimblesInfo .gameDescription .thimbles {
    display: flex;
    gap: 28px;
    width: 100%;
    height: 139px;
    background: rgb(25, 25, 34);
    align-items: center;
}

.wiki .wikiContent .jackPotInfo .gameDescription .jackPot img,
.wiki .wikiContent .hatInfo .gameDescription .hat img,
.wiki .wikiContent .thimblesInfo .gameDescription .thimbles img {
    padding-left: 20px;
    height: min-content;
}


.wiki .wikiContent .jackPotInfo .gameDescription .jackPot p,
.wiki .wikiContent .hatInfo .gameDescription .hat p,
.wiki .wikiContent .thimblesInfo .gameDescription .thimbles p {
    color: rgb(255, 255, 255);
    font-family: 'gilroy';
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    align-self: center;
}

.wiki .wikiContent .jackPotInfo {
    display: flex;
}

.wiki .wikiContent .jackPotInfo,
.wiki .wikiContent .hatInfo,
.wiki .wikiContent .thimblesInfo {
    flex-direction: column;
    gap: 65px;
}

.wiki .wikiContent .jackPotInfo .guid,
.wiki .wikiContent .hatInfo .guid,
.wiki .wikiContent .thimblesInfo .guid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wiki .wikiContent .jackPotInfo .guid h4,
.wiki .wikiContent .hatInfo .guid h4,
.wiki .wikiContent .thimblesInfo .guid h4 {
    background: linear-gradient(90.00deg, rgb(6, 193, 251),rgb(128, 108, 212));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'gilroy';
    font-size: 24px;
    font-weight: 700;
    width: max-content;
}

.wiki .wikiContent .jackPotInfo .guid .items,
.wiki .wikiContent .hatInfo .guid .items,
.wiki .wikiContent .thimblesInfo .guid .items {
    display: flex;
    gap: 33px;
}

.wiki .wikiContent .jackPotInfo .guid .items > div,
.wiki .wikiContent .hatInfo .guid .items > div,
.wiki .wikiContent .thimblesInfo .guid .items > div {
    padding: 38px 28px;
    background: rgb(25, 25, 34);
}

.wiki .wikiContent .jackPotInfo .guid .items > div p,
.wiki .wikiContent .hatInfo .guid .items > div p,
.wiki .wikiContent .thimblesInfo .guid .items > div p {
    color: white;
    font-family: 'gilroy';
    font-size: 16px;
    font-weight: 600;
}





